@mixin points {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    color: rgba(black, .75);
    border-radius: 8px;
    font-family: "Tilt Warp", sans-serif;
    font-size: 1rem;
    padding-bottom: 5px;
    --tw-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .25);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border: 1px solid rgba(0, 0, 0, .25);
    background-color: white;
    cursor: pointer;

    &:active {
        color: rgba(black, .25);
        transform: translateY(5px);
        box-shadow: none;
    }

    &.isDisable {
        pointer-events: none;
        background-color: red;
    }

    @media screen and (max-width: 389px) {
        height: 2.5rem;
    }
}

@mixin btn-primary {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-secondary);
    min-height: 60px;
    width: 100%;
    border-radius: 1rem;
    margin: 0 2rem;

    font-family: "Tilt Warp", sans-serif;
    font-size: 1.5rem;
    color: var(--text-color);
    padding-bottom: 5px;

    --tw-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, .25);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
    border: 1px solid rgba(0, 0, 0, .25);

    &:active {
        color: rgba(black, .25);
        transform: translateY(5px);
        box-shadow: none;
    }

    &:hover {
        cursor: pointer;
    }
}

@mixin btn-secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Tilt Warp", sans-serif;
    font-size: 1rem;
    color: var(--text-color);
    text-decoration: underline;

    &:hover {
        cursor: pointer;
    }
}

@mixin input-base {
    width: 100%;
    display: block;
    position: relative;
    box-sizing: border-box;

    label {
        $labelSize: 1rem;
        font-size: $labelSize;
        margin-left: $labelSize;
        z-index: 1;
        background: transparent;
        text-align: center;
        padding: 0 5px;
        position: absolute;
        top: calc(#{$labelSize} * -0.55);
        background-color: var(--bg-color-secondary);
        font-family: "Tilt Warp", sans-serif;
        color: var(--text-color);
    }
    
    input {
        display: flex;
        align-items: center;
        width: 100%;
        background: white;
        padding: 1rem 2.8rem 1rem 1rem;
        font-size: 1rem;
        border-radius: 1rem;
        border: 1px solid rgba(0, 0, 0, .25);
        font-family: "Tilt Warp", sans-serif;
        color: var(--text-color);
    }
}