@mixin button-primary($color) {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    height: 3rem;
    border-radius: 5px;
    border: 1px solid $color;

    a {
        font-family: "Bungee Tint", sans-serif;
    }
}