* {
    box-sizing: border-box;
}

:root {
    --bg-color: #FFECD1;
    --bg-element-primary: #fff;
    --text-color: #001524;
}

html, body, #app, main {
    margin: 0;
    padding: 0;
    height: 100%;
}

@import "./fonts/fonts.scss";